body{
    font-family: 'Lato';
    margin: 0 auto;
    padding: 0;
    max-width:  1020px;
    position: relative;
}
.portfolio{
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.portfolio h2{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 69px;
    padding-left: 41px;
    margin: 0;
    letter-spacing: 0.5px;
}
.portfolio p{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-top: 27px;
    margin-left: 40px;
    letter-spacing: -0.22px;
}
.portfolio_nav{
    margin-top: -17px;
    margin-left: 42px;
    letter-spacing: -1.5px;
}
.portfolio_nav input{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    height: 20px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #c5c5c5;
    margin-right: 8px;
    padding-bottom: 20px;
}

.portfolio_nav input:hover{
    background-color: #0f0f0f;
    cursor: pointer;
}
.portfolio_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    margin: 20px 20px 0px 40px;
    max-width: 960px;
    max-height: 600px;
    overflow: hidden;
}

.about_us{
    height: 730px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff; 
    margin: 0;   
}

.about_us h2{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 68px 41px;
    letter-spacing: 0.5px;
}
.about_us_article{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e; 
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: -41px 40px;
    letter-spacing: -0.22px;
}

.people{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 88px;
    margin-left: 40px;
    margin-right: 18px;
}

.person h3{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 16px;
    letter-spacing: 0.2px;
}

.person p{
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    letter-spacing: 0.1px;
    
}
.links{
    position: absolute;
    margin-top: -109px;
    letter-spacing: 5px;
   
}
.icon{
    opacity: 0.58;
    cursor: pointer;
}
.icon:hover{
    opacity: 1;
}
