html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato';
    margin: 0 auto;
    padding: 0;
    max-width:  1020px;
    position: relative;
}
header{
    background-color: #2D303A;
    display: flex;
    height: 95px;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 6px solid #323746;
    position:sticky;
    top: 0px;
    z-index: 999;
}
.SINGOLO h1{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.4px;
    line-height: 6.32px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top:  17px;
}
.SINGOLO h1 a{
    text-decoration: none;
    color: #ffffff;
}
.active {
    color: #f06c64  !important;
}

.singolo-logo::after{
    content:"*";
    color: red;
}
nav{
    display: flex; 
    width: 371px; 
    margin-left: auto;
    justify-self: end;
    margin-top: 23px;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-align: justify;
    line-height: 6px;
    font-weight: 600;
    letter-spacing: -0.2px;
}
.navigation a:hover{
    transition: 0.2s linear;
    color: #f06c64;
}
.dot{
    color: #494e62;
    margin-right:  14px;
    margin-left: 13px;
    margin-top: 0px;
    font-size: 12px;
    line-height: 6px;
    font-weight: 700;
    display: inline-block;
}
/* Slider */
.slider{
    display: flex;
    height: 585px;
    background-color:  #f06c64 ;
    align-items: center;
    z-index: 1;
    border-bottom: 15px solid #ea676b;
}
#horizontal{
    top: 269px;
    left: 425px;
    position: absolute;
    z-index: 3;
}
#vertical{
    position: absolute;
    transform: rotate(-90deg);
    top: 269px;
    left: -9px; 
    z-index: 3;
}
#Arrow-right{
    position: absolute;
    top: 376px;
    left: 964px;
}
#Arrow-left{
    position: absolute;
    top: 376px;
    left: 42px;
    transform: rotate(180deg);
}
#Arrow_Black_Left:hover{
    opacity: 1;
}
#Arrow_Black_Right:hover{
    opacity: 1;
}
#Arrow_Black_Left{
    position: absolute;
    top: 376px;
    left: 42px;
    opacity: 0; 
    cursor: pointer;  
}
#Arrow_Black_Right{
    position: absolute;
    top: 376px;
    left: 964px;
    transform: rotate(180deg);
    opacity: 0; 
    cursor: pointer;  
}
#Horizontal-Screen{
    position: absolute;
    top: 280px;
    left: 482px;
    z-index: 3;
}
#Vertical-Screen{
    position: absolute;
    top: 210px;
    left: 123px;
    z-index: 3;
}
#Shadow-Vertical{
    position: absolute;
    top: 147px;
    left: 112px;
    z-index: 2;
}
#Shadow-horizontal{
    position: absolute;
    top: 147px;
    left: 547px;
    transform: rotateY(180deg) rotateZ(-90deg);
    z-index: 2;
}

.prev_button{
    cursor: pointer;
}
.next_button{
    cursor: pointer;
}


/* Services */
.services{
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}
.title_our_services{
    margin: 0;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.45px;
}
.service_article{
    padding-top: 28px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.08px;
}
.container{
    width: 939px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 67px;
}
.title{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}
.text{
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.5px;
    word-break: break-all;
}
.features{
    padding-top: 27px;
    display: grid;
    grid-template: 100px 100px / 300px 300px 300px;
    grid-gap: 19px;
    grid-row-gap: 24px;
    position: relative;
    top: 20px;
    left: 0px;
}
.feature{
    display: grid; 
    grid-template: 20px 70px / 70px 220px;
    grid-gap: 10px;
}
.feature img{
    padding-top: 2px;
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
}
.feature .title{
    letter-spacing: 0.5px;
}

.portfolio{
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    margin-top: -2px;
}
.portfolio h2{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 69px;
    padding-left: 41px;
    margin: 0;
    letter-spacing: 0.5px;
}
.portfolio p{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-top: 27px;
    margin-left: 40px;
    letter-spacing: -0.22px;
}
.portfolio_nav{
    margin-top: -17px;
    margin-left: 42px;
    letter-spacing: -1.5px;
}
#portfolio_white {
    color: #c5c5c5;
    background-color: #0f0f0f;
}
.portfolio_nav input{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    height: 20px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    margin-right: 8px;
    padding-bottom: 20px;
}

.portfolio_nav input:hover{
    background-color: #0f0f0f;
    border: 1px solid #c5c5c5;
    cursor: pointer;
}
.portfolio_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    margin: 20px 20px 0px 40px;
    max-width: 960px;
    max-height: 600px;
    overflow: hidden;
}

.img_border{
    border: 5px #F06C64 solid;
    box-sizing: border-box;
    width: 220px;
    height: 187px;
}

.about_us{
    height: 730px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff; 
    margin-top: -1px;   
}

.about_us h2{
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 68px 41px;
    letter-spacing: 0.5px;
}
.about_us_article{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e; 
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin: -41px 40px;
    letter-spacing: -0.22px;
}

.people{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 88px;
    margin-left: 40px;
    margin-right: 18px;
}

.person h3{
    max-height: 20px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-top: 16px;
    letter-spacing: 0.2px;
    overflow: hidden;
    
}
.person{
    overflow: hidden;
}


.person p{
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
    letter-spacing: 0.1px;
    
}
.links{
    position: absolute;
    margin-top: -108px;
    letter-spacing: 5px;
   
}
.icon{
    opacity: 0.58;
    cursor: pointer;
}
.icon:hover{
    opacity: 1;
}

.get_quote{
    height: 648px;
    background-color: #f06c64;
    width: 1020px;
    border-bottom: 6px solid #ea676b;
}
.title_quote{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 69px 40px;
    letter-spacing: 0.25px;
}
.article_quote{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin:-44px 41px;
    letter-spacing: -0.075px;
}
.information_icon_location{
    margin-right: 13px ;
}
.information_icon_phone{
    margin-right: 11px ;
}
.information_icon_mail{
    margin-right: 10px ;
}

.form_wrapper{
    display: flex;
    margin-top: 93px;
  
}

.contact_information_block{
   padding: 0px;
   margin-right: 40px;
}

.contact_information_block h2{
    margin: 0px;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.25px;
}

.contact_information_block p,.contact_information_block a{
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 9px;
}

.contact_information_block a{
    padding-top: 15px;
    padding-left: 4px;
    margin-left: 0px;
    margin-bottom: -196px; 
    display: block;
    text-decoration: none;
    
}
#mail{
    padding-left: 0px;
    padding-top: 13px;
}
#phone{
    padding-left: 2px;
    padding-top: 11px;
}

.login_form input{
    width: 619px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    margin-left: 40px;
    margin-bottom: 16px;
    padding-left: 15px;
    padding-bottom: 3px;
    box-sizing: border-box;
}
.login_form input::placeholder{
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

.login_form .message{
    height: 202px;
    padding-bottom: 170px;
    box-sizing: border-box;
}

.login_form #submit_button{
    width: 150px;
    height: 30px;
    position: absolute;
    margin-top: 220px;
    margin-left: 70px;
    background-color: #671D5F;
    border: none;
    color: white;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.modal{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 12;
}
.close_button{
    margin-top: 15px;
    margin-left:  20px;
}

.modal_content{
    background: #f06c64;
    margin:15% auto;
    color: white;
    border: 1px black solid;
    width: 10%;
    padding: 30px 40px;
    border-radius: 5px;
  
}
.footer{
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
}
.footer p{
    padding-top: 33px;
    padding-left: 42px;
    margin: 0;
    font-size: 12px;
    color: #5E657E;
    letter-spacing: -0.1px;
}

.links_footer{
    display: flex; 
    width: 371px; 
    margin-left: 820px;
    margin-top: -23px;
}

.links_footer .icon{
    padding-left: 8px;
}





 
